
.btn-btn-primary {
    background-color: lightskyblue; 
    border: 1px solid lightskyblue;
    color: white;
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 5px; 
 
}

.btn-btn-primary:hover {
    background-color: #4682b4;
    border-color: #4682b4;
  
}


.btn-btn-primary {
    background-color: lightskyblue; 
    border: 1px solid lightskyblue; 
    color: white; 
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 5px;
    
}

.btn-btn-primary:hover {
    background-color: #4682b4; 
    border-color: #4682b4; 
    transform: scale(1.05); 
}

