{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">TITLE</th>
                <th scope="col">DATE</th>
                <th scope="col">CONTENT</th>
            </tr>
        </thead>
        <tbody>
            {% for i in result %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.title }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.content }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
{% include 'footer.html' %}


