{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog List</title>
    
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container mt-5" style="margin: auto;margin-bottom: 50px;">
        <h1 class="text-center mb-4">Blog List</h1>
        <div class="card shadow">
            <div class="card-body" style="margin: 25px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Blog Title</th>
                            <th>Blog Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in result %}
                        <tr>
                            <td>{{ i.blog_title }}</td>
                            <td>{{ i.blog_date }}</td>
                            <td><a href="{% url 'detailedview' id=i.id %}"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
                              </svg></a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2" class="text-center">No blogs available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

</body>
</html>
{% include 'footer.html' %}


