{% load static %}  <!-- Add this line at the top -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    
<!-- Footer Section -->
<footer class="footer">
    <div class="footer-left">
        <p>&copy; 2024 Your Blog Name. All Rights Reserved.</p>
    </div>
    <div class="footer-container">
        <div class="footer-center">
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea porro veritatis sint maiores, tempore expedita cum accusantium quae assumenda aspernatur impedit repellat doloribus dicta laboriosam harum sunt consectetur iure.</p></li>
                <li><a href="#">Terms of Service</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aliquam odit consequatur soluta nobis id, quae illum obcaecati voluptas. Explicabo dolores nesciunt saepe quaerat dignissimos corporis repellat tempore laudantium voluptatibus.</p></li>
                <li><a href="#">Contact: 1234567891</a></li>
            </ul>
        </div>
       
    </div>
    <div class="footer-right">
        <ul class="social-links">
            <li><a href="#" class="facebook">Facebook</a></li>
            <li><a href="#" class="twitter">Twitter</a></li>
            <li><a href="#" class="instagram">Instagram</a></li>
        </ul>
    </div>
</footer>

</body>
</html>
